# Python para finanças - alocação e otimização de portfólios

### Importação das bibliotecas e base de dados

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import plotly.express as px

In [4]:
dataset = pd.read_csv('acoes.csv')
dataset

            Date       AMBV  ODONT       VIVO      PETRO      BBRAS       BOVA
0     2015-01-02  16.020000   9.37  37.820000   9.360000  22.650000  47.259998
1     2015-01-05  15.730000   9.62  37.070000   8.560000  22.180000  46.320000
2     2015-01-06  16.330000   9.55  36.150002   8.280000  22.490000  46.580002
3     2015-01-07  16.559999   9.69  37.389999   8.670000  23.480000  48.150002
4     2015-01-08  16.540001   9.66  38.910000   9.230000  23.559999  48.509998
...          ...        ...    ...        ...        ...        ...        ...
1421  2020-10-27  13.720000  14.00  43.480000  19.879999  32.779999  95.680000
1422  2020-10-28  13.370000  12.97  42.610001  18.670000  31.139999  91.559998
1423  2020-10-29  12.890000  12.84  42.250000  19.290001  30.959999  92.800003
1424  2020-10-30  12.180000  12.61  42.669998  18.940001  29.799999  90.660004
1425  2020-11-03  12.780000  12.39  42.310001  19.650000  30.100000  92.260002

[1426 rows x 7 columns]

### Alocação aleatória de ativos

In [10]:
def alocacao_ativos(dataset, dinheiro_total):
    dataset = dataset.copy()

    pesos = np.random.random(len(dataset.columns) - 1)
    # print(pesos, pesos.sum()) -> valor maior que 1.0
    pesos = pesos / pesos.sum() # normalização
    print(pesos, pesos.sum())

In [13]:
# Chamando a função para definir os pesos aleatóriamente
alocacao_ativos(pd.read_csv('acoes.csv'), 5000)

[0.1995396  0.31879053 0.01538828 0.05415304 0.318136   0.09399255] 1.0